<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/homeStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="background">
      <div class="contentForm">

        <div class="divBox">
          
          <img src="<%= articles[0].image %>"/>
          <a href="<%=articles[0].titleURL %>"><%=articles[0].title%></a>
        </div>

        <div class="divBox">
          <img src="<%= articles[1].image %>"/>
          <a href="<%=articles[1].titleURL %>"><%=articles[1].title%></a>
        </div>
        <div class="divBox">
          <img src="<%= articles[2].image %>"/>
          <a href="<%=articles[2].titleURL %>"><%=articles[2].title%></a>
        </div>
        <div class="divBox">
          <img src="<%= articles[3].image %>"/>
          <a href="<%=articles[3].titleURL %>"><%=articles[3].title%></a>
        </div>
        <div class="divBox">
          <img src="<%= articles[4].image %>"/>
          <a href="<%=articles[4].titleURL %>"><%=articles[4].title%></a>
        </div>
        <div class="divBox">
          <img src="<%= articles[5].image %>"/>
          <a href="<%=articles[5].titleURL %>"><%=articles[5].title%></a>
        </div>
        <div class="divBox">
          <img src="<%= articles[6].image %>"/>
          <a href="<%=articles[6].titleURL %>"><%=articles[6].title%></a>
        </div>
        <div class="divBox">
          <img src="<%= articles[7].image %>"/>
          <a href="<%=articles[7].titleURL %>"><%=articles[7].title%></a>
        </div>
      </div>
    </div>
  </body>
</html>
